.Detail{
  background-color: #f9f9f9;
  flex: 0.6;
}

.Detail__youtube{
  margin: 25px;
  width: 100%;
  aspect-ratio: 16 / 9;
}
.Detail__mainVideo{
  width: 100%;
  height: 100%;
}
.Detail__channelIcon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.Detail__videoInfo > hr {
  height:1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Detail__title{
  font-family: "Roboto","Arial",sans-serif;
  line-height: 2.6rem;
  font-weight: 400;
  max-height: 5.2rem;
  font-size: 1.5rem;
}
.Detail__channelInfo {
  display: flex;
}
.Detail__channelInfo > p {
  margin-left: 20px;
}

@media screen and (max-width:480px) {
  .Detail__youtube{
    margin: 0px;
  }
  .Detail__title{
    font-size: 1rem;
  }
  .Detail__channelIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .Detail__channelInfo > p {
  font-size: 10px;
  margin-left: 10px;
  }
  .Detail__channelInfo{
    align-items: center;
  }
}
