.videoRow{
  display: flex;
  margin-bottom:30px;
  max-width: 700px;
  margin-left: 30px;
  margin-bottom: 5px;
}
.videoRow__subVideo {
  width: 250px;
  height: 150px;
}
.videoRow > img {
  margin-top: 20px;
  object-fit: contain;
  width: 246px;
  height: 138px;
}

.videoRow__text{
  margin-left: 14px;
}
.videoRow__avatar {
  width: 30px !important;
  height: 30px !important;
}

.videoRow__description{
  margin-top: 20px;
  font-size: 12px;
  color: #606060;
}
.videoRow__headline{
   font-size: 12px;
   color: #606060;
   display: flex;
   align-items: center;
   margin-left: 5px;
   margin-top: -10px;
}
.videoRow__headline > p{
  margin-left: 10px;
}

.videoRow__text > h3 {
  font-size: 15px;
}

.videoRow__subs{
  background-color:lightgray;
  padding: 2px;
}

.videoRow__subNumber{
  font-weight: bolder;
  color: rgba(84,157,211);
}